.main-container {
    background: linear-gradient(to right, #ffffff, #f0f0f0); /* Dodajte gradijent boja umesto jednobojne pozadine */
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
   
  }
  
  .crveno {
    color: #f00;
  }

  input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }

  select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media (max-width: 768px) {
  .main-container {
      width: 90%;
      padding: 15px;
  }

  input,
  select {
      width: calc(100% - 16px);
      padding: 8px;
  }

  button {
      width: 100%;
      padding: 10px;
      margin-top: 8px;
  }
}

@media (max-width: 480px) {
  .main-container {
      width: 95%;
      padding: 10px;
  }

  h2 {
      font-size: 1.5em;
  }

  input,
  select {
      width: calc(100% - 12px); 
      padding: 6px;
      margin: 6px 0;
  }

  button {
      padding: 8px; 
      font-size: 0.9em;
  }
}