<header>
    <div class="logo">
        <img [src]="ikonaProfilna" alt="Profilna">
    </div>
    <h1>{{korisnik.korIme}}</h1>
    <nav>
        <ul>
            <li><a href="#" routerLink="/vlasnik-main">Profil</a></li>
            <li><a href="#" routerLink="/vlasnik-firme">Firme</a></li>
            <li><a href="#" routerLink="/vlasnik-zakazivanja">Zakazivanja</a></li>
            <li><a href="#" routerLink="/vlasnik-odrzavanje">Odrzavanje</a></li>
            <li><a href="#" (click)="logout($event)">Izloguj se</a></li>
        </ul>
    </nav>
</header>

<div class="content">
    <ng-content></ng-content>
</div>

<footer>
    <p>© 2024 Djordje Djordjic. Sva prava zadrzana.</p>
</footer>