<app-nr-izgled>
    <div class="container">
        <div class="card">
            <h2>Broj Basti</h2>
            <p>{{ brojDekorisanihBasta }}</p>
        </div>
        <div class="card">
            <h2>Broj Vlasnika</h2>
            <p>{{ brojVlasnika }}</p>
        </div>
        <div class="card">
            <h2>Broj Dekoratera</h2>
            <p>{{ brojDekoratera }}</p>
        </div>
        <div class="card">
            <h2>Poslovi 24h</h2>
            <p>{{ brojDekorisanihPoslednjih24h }}</p>
        </div>
        <div class="card">
            <h2>Poslovi 7 dana</h2>
            <p>{{ brojDekorisanihPoslednjih7Dana }}</p>
        </div>
        <div class="card">
            <h2>Poslovi 30 dana</h2>
            <p>{{ brojDekorisanihPoslednjih30Dana }}</p>
        </div>
    </div>

    <div class="controls-container">
        <div class="controls-group">
            <label for="sort-by">Sortiraj po:</label>
            <select id="sort-by" (change)="onSortChange($event)">
                <option value="">---</option>
                <option value="nazivRastuce">Naziv rastuce</option>
                <option value="nazivOpadajuce">Naziv opadajuce</option>
                <option value="adresaRastuce">Adresa rastuce</option>
                <option value="adresaOpadajuce">Adresa opadajuce</option>
            </select>
        </div>
        <div class="controls-group">
            <label for="search-naziv">Pretrazi naziv:</label>
            <input id="search-naziv" type="text" (input)="onSearchChange('naziv', $event)"
                placeholder="Unesite naziv...">
        </div>
        <div class="controls-group">
            <label for="search-adresa">Pretrazi adresu:</label>
            <input id="search-adresa" type="text" (input)="onSearchChange('adresa', $event)"
                placeholder="Unesite adresu...">
        </div>
    </div>

    <div class="firma-list">
        <div *ngFor="let firma of sortiraneFirme" class="firma-card">
            <h3>{{ firma.naziv }}</h3>
            <p><strong>Adresa:</strong> {{ firma.adresa }}</p>
            <p><strong>Dekorateri:</strong> {{ getDecoratorsNames(firma.dekorateri) }}</p>
        </div>
    </div>

</app-nr-izgled>